#action that runs tests at each comment

name: Run tests
'on':
  push:
    branches:
      - master
jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install modules
        run: yarn
      - name: Run unit tests
        run: yarn test --coverage
